.head{
    &-bg{
        position: absolute;
        z-index: -1;
        background-color: #926353;
        width: 665px;
        height: 350px;
        right: 0;
        bottom: 0;
    }
}


.header{

    &-wrap{
        display: flex;
    }

    &-phone{
        display: flex;
        margin-bottom: 25px;
        margin-top: 60px;
    }

    &-tel{
        text-decoration: none;
        font-size: 14px;
        color: #000;
        font-weight: 400;
        margin-left: 15px;
    }


    &-text{
        font-size: 111px;
        font-weight: 800;
    }
}


.button-katalog{
    text-decoration: none;
    width: 245px;
    height: 70px;
    background-color: #6f4c40;
    display: block;
    display: flex;
    align-items: center;
   
}

.katalog{
   margin-left: 30px;
   font-size: 20px;
   font-weight: 300;
   color: #fff;
}