.priem{
    &-head{
        font-size: 16px;
        font-weight: 900;
    }

    &-block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 70px;
        &_item{
            width: 300px;
            display: flex;
            margin-top: 15px;
            &-num{
            font-size: 41px;
            font-weight: 800;
            color: #8e6151;
            }
            &-text{
                font-size: 16px;
                font-weight: 400;
                line-height: 1.4em;
                margin-left: 10px;
                margin-top: 6px;
            }
        
    }   
  }

}